@import "utils";

/* header */
.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  color: #007bff;
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .flex-3 {
      flex: 0 0 33.333333%;
      align-items: center !important;
      padding-top: 0.25rem !important;
    }
    .d-flex {
      display: flex !important;
    }
    .align-items-center {
      -ms-flex-align: center !important;
      align-items: center !important;
    }
    .justify-content-end {
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;
    }
    .header-logo {
      font-family: "Playfair Display", Georgia, "Times New Roman", serif;
      font-size: 2.25rem;
      color: $default-color !important;
      text-decoration: none;
    }
    .search {
      margin-right: 2rem;
      margin-left: 1rem;
      color: $default-color;
      svg {
        cursor: pointer;
      }
    }
    /* button */
    .btn {
      @include common-button-style();
      padding-left: 1rem;
      padding-right: 1rem;
      border: 1px solid $default-color;
      border-radius: 4px;
      border-color: 1px solid red;
      transition: all 0.1s ease-in;
      color: $default-color;
    }
    .no-outline {
      border: none;
    }
    a.btn {
      margin: 0 2px;
    }
  }
}
